
.flexContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.picsum-img-wrapper{
  text-align: center;
}

.carousel-item img {
  width: 50%;
  height: auto;
  border-radius: 20px;
  opacity: 0.7;
}

.carousel-item{
  text-align: center;
}

h2{
  margin-top: 1rem !important;
  text-align: center;
  color: #fff;
}

i {
  color: yellow;
}


.desc {
  padding-top: 3rem;
  color: #fff;
}

@media (max-width: 500px) {
  .carousel-item img {
    width: 100%;
  }
}

