.contenedor {  
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgb(16 12 12 / 50%), rgb(122 42 42 / 50%)),
      url("../../../assets/fondo.jpeg");
    background-size: cover;
  }