<div class="contenedor">
  <div class="animate__animated animate__fadeIn p-5">
    <div class="mt-3" style="text-align: center">
      <img src="../../../assets/about.png" width="250px" height="auto" />
    </div>

    <div class="flexContainer mt-5 mb-2">
      <div
        class="card border-primary m-3 card-quien"
        *ngFor="let card of abouts.slice(0,1); let i = index"
      >
        <div class="card-header">{{ card.titulo }}</div>
        <div class="card-body text-primary">
          <p class="card-text">{{ card.descripcion }}</p>
        </div>
      </div>
    </div>
  
    <div class="flexContainer mt-5">
      <div
        class="card border-primary m-3 cardAbout"
        *ngFor="let card of abouts.slice(1); let i = index"
      >
        <div class="card-header">{{ card.titulo }}</div>
        <div class="card-body text-primary">
          <p class="card-text">{{ card.descripcion }}</p>
        </div>
      </div>
  
      <div
        class="card border-primary m-3 cardAct"
        *ngFor="let card of acts; let i = index"
      >
        <div class="card-header">{{ card.titulo }}</div>
        <div class="card-body text-primary">
          <!-- <p class="card-text">{{ card.descripcion }}</p> -->
          <ul>
            <li *ngFor="let item of card.items">{{ item }}</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="mt-3 mb-4" style="text-align: center">
      <img src="../../../assets/skil.png" width="250px" height="auto" />
    </div>

    <div class="flexContainer">
      <img class="iconos" [class]="animar()" [src]="imagen" *ngFor="let imagen of imagenes">
    </div>

  </div>
  
</div>