

  *{
    color: #fff;
  }

  .card:hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
  }

  .card{
    transition: 0.5s;
  }

  .flexContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }

  .card-quien{
    background: rgb(86 65 126 / 50%);
    border-radius: 2rem;
    border:none;
  }

  .cardAbout{
    background: rgb(86 65 126 / 50%);
    border-radius: 2rem;
    border:none;
    width: 17rem;
    height: 17rem;
  }

  .card-header{
    border-bottom: 5px dotted #c73656;
  }

  .cardAct{
    background: rgb(65 199 101 / 50%);
    border-radius: 2rem;
    border:none;
    width: 17rem;
    height: 17rem;
  }

.cardAct .card-body{
    justify-content: flex-start !important;
  }

  .card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
  }

  .card-header{
    font-size: x-large;
    text-align: center;
  }

  .iconos{
    margin: 2px;
    width: 80px;
    height: 80px;
    transition: 0.5s;
  }

  .animarOn{
    transition: 0.9s;
    transform: translate(0px, 30px);
  }

  .animarOff{
    transition: 0.9s;
    transform: translate(0px, 0px);
  }

  .iconos:hover{
    transform: scale(1.5);

  }


