.contenedor {
  background: url("../../../assets/fondo.jpeg") no-repeat center center fixed;
	background-size: cover;
	width: 100vw;
	opacity: 0.9;
	margin: 0px !important;
	border: none !important;
  padding: 15px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
}

.col-content{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  transition: 0.5s;
}

.col-content:hover{
  transform: translate(0px, -10px);
  transition: 0.5s;
}

.letras{
  color: #c5fffd;
  font-size: xx-large;
  cursor: pointer;
}

.neon {
  text-shadow: none;
}

.neon p{
  margin: 0px;
}

.avatar{
  width: 200px;
  height: 340px;
}

.hello{
  width: 150px;
}



@media screen and (min-width:992px  ) {

  .neon{
    text-shadow: none;
  }

  .neon p{
    font-size: 50px;
  }

  .avatar{
    width: 250px;
    height: 440px;
  }

  .footer{
    font-size: 30px;
  }

}

@media screen and (min-width:1200px  ) {

  .contenedor{
    padding: 15px 80px 20px 80px;
  }

  .hello{
    width: 250px;
  }

  .neon p{
    font-size: 60px;
  }

  .avatar{
    width: 350px;
    height: 550px;
  }

}

