<section class="animate__animated animate__bounceInUp">

  <div style="text-align: center">
    <img class="hello" src="../../../assets/hello.png" />
  </div>

  <div class="row">
    <div class="col-content">
      <div class="letras neon">
        <p>Yazmín Brum</p>
        <p>Lic. Comunicación</p>
      </div>

      <a class="btn btn-warning mt-3" routerLink="../about" style="border-radius: 18px;">
        <i class="fa fa-heart" aria-hidden="true"></i>
        ¡ Conóceme !
        <i class="fa fa-heart" aria-hidden="true"></i>
      </a>
    </div>

  </div>

  <div class="footer neon" style="text-align: center; color: #fff; font-size: larger;">
    "Tal vez me cortaron las alas, pero nunca dejaré de ser ave." (Gilraen, 2021).
  </div>

</section>
