.contenedor {
  background: url("../../../assets/fondo.jpeg") no-repeat center center fixed;
	background-size: cover;
	width: 100vw;
	opacity: 0.9;
	margin: 0px !important;
	border: none !important;
  padding: 15px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  color: #fff !important;
}

.col-content{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  transition: 0.5s;
}

.p-5 {
  height: 100%;
}

.imgT {
  width: 100%;
  height: auto;
}


.form-container {
  background: rgb(85 80 100 / 30%);
  border-radius: 15%;
  transition: 0.5s;
  padding: 25px 50px 25px 50px;
}

.form-container div{
  margin: 1rem;
}

.form-container:hover{
  transition: 0.5s;
  box-shadow: 0px 2px 10px 6px #86ff2d;
}



a{
  transition: 0.5s;
  cursor: pointer;
}

a:hover{
  transition: 0.5s;
  transform: scale(1.5);
  cursor: pointer;
}

.mb-3{
  width: 20rem;
}

.form-control input{
  width: 100%;
}

.container-general{
  padding: 15px;
}

@media screen and (min-width: 992px) {

  .container-general {
    padding: 15px 150px;
  }

}
