<div class="contenedor">
  <div class="animate__animated animate__fadeIn pt-5" style="color: #fff">
    <div class="mt-3 pb-3" style="text-align: center">
      <img src="../../../assets/contact.png" width="250px" height="auto" />
    </div>

    <div class="flexContainer">     
      <div class="mt-3 mb-4" style="text-align: center">
        <img src="../../../assets/than.png" class="imgT" />
      </div>
      <div>
        <form [formGroup]="forma">
          <div class="mb-3">
            <label for="correo" class="form-label">Email</label>
            <input formControlName="correo" type="email" class="form-control" id="correo" />
            <div class="alert alert-danger mt-1" *ngIf="campoInvalido('correo')">
              <strong>Campo no válido</strong>
            </div>
          </div>
          <div class="mb-3">
            <label for="asunto" class="form-label">Asunto</label>
            <input formControlName="asunto" type="text" class="form-control" id="asunto" />
            <div class="alert alert-danger mt-1" *ngIf="campoInvalido('asunto')">
              <strong>Campo no válido</strong>
            </div>
          </div>
          <div class="mb-3">
            <label for="mensaje" class="form-label">Mensaje (30 caracteres mínimo) </label>
            <textarea formControlName="mensaje" class="form-control" id="mensaje" rows="3"></textarea>
            <div class="alert alert-danger mt-1" *ngIf="campoInvalido('mensaje')">
              <strong>Campo no válido</strong>
            </div>
          </div>
        </form>

        <button class="btn btn-primary" (click)="click()" [disabled]="this.forma.invalid" >
          <i class="fa fa-paper-plane" aria-hidden="true"> Enviar </i>
        </button>
      </div>
    </div>

    <div class="flexContainer2 mt-5" >
      <img class="iconR mr-3" [src]="item"  width="70px" *ngFor="let item of imagenes">
    </div>

  </div>
</div>
