<div class="contenedor">
  <div class="animate__animated animate__fadeIn p-5">
    <div style="font-size: xx-large; text-align: center;">
      <div class="mt-3" style="text-align: center">
        <img src="../../../assets/video.png" width="250px" height="auto" />
      </div>
    </div>
    <div class="flexContainer mt-5">

      <div class="mt-4" *ngFor="let item of videos" style="text-align: center; width: 41rem;">
        <div class="textBeauty  mb-3">
          {{ item.titulo }}
        </div>
        <div>
          <youtube-player [videoId]="transform(item.target)" suggestedQuality="small" [height]="250" [width]="300">
          </youtube-player>
        </div>
      </div>

    </div>
  </div>

  <div class="flex-container-2 pb-5">

    <div class="textBeauty  mb-3">
      Programa 4 y una +
    </div>

    <audio controls="controls">
      <source src="https://docs.google.com/uc?export=download&id=1ao3raT8DZh128SfuUeZs5UQIPk8McFSk">
    </audio>

  </div>


</div>
