/* You can add global styles to this file, and also import other style files */

body,
.fondo {
  background: #dbc8c8;
}

* {
  font-family: cursive;
}

.textBeauty{
  font-size: 52px;
  letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow: 8px 4px #834a86;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
