/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@1,500&display=swap');

html,
body {
  font-family: 'Kaushan Script', sans-serif;
	max-width: 100%;
  overflow-x: hidden !important;
}

html {
  background: url('assets/fondo.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.textBeauty {
  font-size: 40px;
  letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow: 8px 4px #834a86;
}


.title-img {
  width: 350px;
  margin: 5px 0px;
}


section{
  position: absolute;
  width: 100%;
  padding: 25px;
  padding-top: 35px;
}


hr{
  height: 10px;
  color: #ffff;
  border-radius: 25px;
}
